body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.card-content {
    background-image: url('../imgs/bg-main-mobile.png'); 
    height: 12em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-image {
    height: 15em;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.back-card {
    width: 15em;
    background-image: url('../imgs/bg-card-back.png');
    margin-left: 2em;
    position: relative;
}

.back-card span {
    padding-left: 11em;
    padding-top: 3.4em;
    position: absolute;
}

.front-card {
    width: 15em;
    height: 8em;
    background-image: url('../imgs/bg-card-front.png');
    margin-top: -9.5em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
}

.front-card img {
    width: 3em;
}

.front-card span {
    text-align: center;
}

.front-card .info {
    display: flex;
    justify-content: space-between;
}

.form-content {
    padding-top: 12em;
    height: 50svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-content input::placeholder {
    color: rgb(170, 163, 163);
}

.form-content .form-control:focus {
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    box-shadow: none;
}

.form-content button {
    margin: auto;
    background-color: hsl(278, 94%, 30%);
    border: none;
    transition: all 0.6s ease-in-out;
}

.form-content button:hover {
    background-color: hsl(249, 99%, 64%) ;
}


@media (min-width: 576px) {
    .card-content {
        height: 15em;
    }

    .card-image {
        height: 20em;
        width: 20em;
    }

    .back-card {
        margin-left: 5em;
    }

    .back-card span {
        padding-left: 15.8em;
        padding-top: 4.6em;
    }

    .front-card {
        width: 20em;
        margin-top: -13em;
        gap: 2.5em;
    }

    .front-card span {
        font-size: 1.15em;
    }
}

@media (min-width: 1200px) {
    .card-content {
        height: 100svh;
        padding-right: 0 !important;
    }

    .images  {
        flex-direction: column-reverse;
    }

    .card-image {
        height: 19em;
    }

    .back-card {
        width: 30em;
        margin: 0 0 0 25em;
    }

    .back-card span {
        padding-left: 24.5em;
        padding-top: 7.3em;
    }

    .front-card {
        width: 30em;
        margin: 0 0 0 20em;
        gap: 4.5em;
    }

    .front-card span {
        font-size: 1.6em;
    }

    .form-content {
        height: 100vh;
        padding-left: 15em;
        padding-top: 0;
    } 
}
